
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app{
  height: 100%;
  width: 100%;
  /* background-color: rgb(19, 12, 12); */
  background-color:rgb(26, 25, 25);
  color: white;
  font-family: "Source Sans Pro",Arial,sans-serif;
}